.todo{
  &__tasks{
    padding: 30px;
    flex: 1;
  }
  &__form{
    display: flex;
    align-items: center;
  }
  &__btn{
    margin-left: 19px;
    cursor: pointer;
  }
  &__input{
    font-size: 20px;
  }
  &__text{
    border: none;
    width: 100%;
    outline: none;
  }
  &__title{
    font-family: Montserrat, sans-serif;
    margin-bottom: 30px;
    line-height: 40px;
    font-size: 32px;

    img{
      cursor: pointer;
      margin-left: 10px;
      opacity: 0;
      margin-bottom: 5px;
    }
    &:hover img{
      opacity: 0.5;
    }

  }
  &__wrapper{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  &__checkbox{
    cursor: pointer;
    opacity: 0;
    position: absolute;
    &:checked + label::before{
      background-color: #44b881;
      border: 1px solid #44b881;
    }
    &:checked + label{
      svg{
        opacity: 1;
      }
    }
  }

  &__label{
    cursor: pointer;
    display: flex;
    position: relative;
    svg{
      position: absolute;
      left: 4px;
      top: 5px;
      opacity: 0;
    }
    &:hover svg{
      opacity: 1;
    }
    &::before{
      content: '';
      margin-right: 15px;
      width: 1em;
      height: 1em;
      border-radius: 50%;
      border: 1px solid #b2b2b2;
    }
    &:hover:before{
      background-color: #b2b2b2;
    }
  }
}
.empty-box{
  margin-bottom: 20px;
}
.btn-cancel{
  padding: 10px 20px;
  background-color: #fff;
  margin-left: 20px;
  color: #000;
  &:hover{
    border: 1px solid black;
    background-color: #fff;
  }
}
.btn-from{
  display: flex;
  align-items: center;
}